<!-- create layout and slot for content -->7
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-black h-10 flex justify-center items-center text-white">
		<p>Profile</p>
	</div>
	<slot/> 
    <!-- this is a place for content -->
	<div class="bg-slate-400 h-[30vh] flex justify-center items-center text-white">
		<p>Footer</p>
	</div>
</body>
</html>